* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: 60px 1fr 30px;
  height: 100vh;
}

header {
  background: #111;
  border-bottom: 1px solid var(--accent-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.8em;
  color: var(--accent-color);
}

.main {
  padding: 20px;
  overflow-y: auto;
  position: relative;
}

footer {
  background: #111;
  border-top: 1px solid var(--accent-color);
  color: var(--text-color);
  text-align: center;
  font-size: 0.9em;
  line-height: 2;
}
